@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Kavivanar|Open+Sans|Risque");

body {
    padding: 5px;
}

h1 {
    font-family: 'Indie Flower', sans-serif;
}

h2 {
    font-family: 'Kavivanar', sans-serif;
}

h3 {
    font-family: 'Risque', sans-serif;
}

p {
    font-family: 'Open Sans', serif;
    margin: 15px 40px 0 20px;
}

img {
    max-width: 80%;
    padding-top: 20px;
    padding-right: 10%;
}